@charset "UTF-8";

body{
    font-family:"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"ＭＳ Ｐゴシック",sans-serif;
    background: url('./dust_scratches.png');
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #e6e6e6;
}
